body {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    font-size: 15px;
    font-family: Raleway;
    min-width: 320px;
}
img {
    max-width: 100%;
}
header {
    line-height: 100px;
    overflow: hidden;
    position: fixed;
    top: 0%;
    background-color: white;
    width: 100%;
}
.hamburger {
    display: none;
}
#logo,
#menu {
    width: 50%;
    height: 100%;
    vertical-align: middle;
}
#logo {
    float: left;
    text-align: center;
    position: relative;
    top: 10px;
}
#menu {
    float: right;
}
.menu li a,
.portfolio li a {
    text-decoration: none;
    color: #3f4244;
    font-size: 15px;
}
.menu ul,
.portfolio ul {
    margin: 0;
    padding: 0;
}
.menu li {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    padding: 0 12px 0 12px;
    margin-right: 30px;
    border-bottom: 2px solid white;
}
.menu li:hover,
#menu li:hover {
    border-bottom: 2px solid #00e1ff;
    color: #00e1ff;
    cursor: pointer;
}
.menu li a:hover {
    color: #00e1ff;
}
.photo_text {
    font-size: 60px;
    color: white;
    padding-bottom: 38px;
    padding-top: 332px;
    font-weight: 200;
}
.photo a {
    padding: 16px 35px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    cursor: pointer;
}
.photo {
    background: url("images/picture.png") no-repeat;
    background-size: cover;
    height: 700px;
    text-align: center;
    margin-bottom: 134px;
}
.fourColumn_block {
    font-size: 0;
    width: 1000px;
    margin: 0 auto;
}
.fourColumn {
    width: 12%;
    display: inline-block;
    height: 144px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    background-image: url(images/icon_line.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-right: 17.3%;
}
.fourColumn:last-child {
    margin-right: 0;
}
.fourColumn:first-child {
    position: relative;
    right: 10px;
}
.fourColumn img {
    margin: 0 auto;
    cursor: pointer;
}
.fourColumn span {
    position: relative;
    top: 50px;
}
.line {
    padding-left: 22%;
}
.text1 {
    width: 780px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 124px;
}
.selection {
    width: 975px;
    margin: 0 auto;
    overflow: hidden;
    height: 60px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.selection1 {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 17px;
    cursor: pointer;
}
.selection2 {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 17px;
    position: relative;
    right: 0.5%;
    cursor: pointer;
}
#grey {
    background-color: #f7f7f7
}
.selection_click {
    background: url("images/right.png") no-repeat;
}
.selection_noclick {
    background: url("images/left.png") no-repeat;
}
.device {
    width: 1024px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-left: 6%;
}
.device_mod {
    float: left;
}
.device_description {
    width: 55%;
    padding-left: 5%;
}
.device_description a {
    cursor: pointer;
}
.device_picture {
    width: 37%;
    padding-left: 3%;
}
.device_description h2 {
    font-size: 40px;
    font-weight: normal;
}
.device_description p {
    margin-bottom: 40px;
}
.device_description a {
    padding: 16px 35px;
    color: white;
    border: 1px solid #00e1ff;
    text-decoration: none;
    color: #00e1ff;
}
#portfolio,
#whoweare,
#contacts {
    padding-top: 92px;
    text-align: center;
}
#portfolio h2,
#whoweare h2,
#contacts h2 {
    font-size: 40px;
    background: url(images/path_portfolio.png) no-repeat 50% 100%;
    padding-bottom: 40px;
    font-weight: normal;
}
#portfolio p,
#whoweare .title,
#contacts .title {
    width: 750px;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 13px;
}
.portfolio li {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    padding: 19px 30px;
    margin-right: 30px;
    border: 1px solid white;
}
.portfolio {
    overflow: hidden;
    /*padding-left: 34%;*/
    
    width: 700px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.portfolio li:hover {
    border: 1px solid #00e1ff;
    cursor: pointer;
}
.black {
    background-color: black;
    padding-top: 75px;
    color: white;
    margin-top: -4px;
}
.fourColumn_mod {
    background: none;
    height: 180px;
}
.fourColumn_mod {
    padding-bottom: 110px;
}
.fourColumn_mod p:first-of-type {
    font-size: 40px;
}
.switch {
    background: url(images/border.png) no-repeat 50% -12%
}
.team {
    width: 270px;
    display: inline-block;
    width: 22.8%;
    margin-right: 30px;
}
.team:last-child {
    margin-right: 0;
}
.team p {
    margin: 0;
}
.team_name {
    background-color: #1c1d1e;
    height: 58px;
    margin-top: -1px;
}
.team_name .name {
    color: #00e1ff;
    font-size: 20px;
}
.team_name .position {
    color: #f5f5f5;
    font-size: 13px;
    margin-top: 5px;
}
.team_photo {
    font-size: 0;
}
.team_description {
    background-color: #f7f7f7;
    height: 84px;
    padding: 20px 28px;
}
.team_photo img {
    height: 180px;
    width: 100%;
}
.facebook {
    background: url(images/facebook1.png) no-repeat;
    height: 55px;
}
.twitter {
    background: url(images/twitter1.png) no-repeat;
    height: 55px;
}
.google {
    background: url(images/google1.png) no-repeat;
    height: 55px;
}
.social4 {
    background: url(images/social4_1.png) no-repeat;
    height: 55px;
}
.facebook:hover {
    background: url(images/facebook2.png) no-repeat;
    height: 55px;
    cursor: pointer;
}
.twitter:hover {
    background: url(images/twitter2.png) no-repeat;
    height: 55px;
    cursor: pointer;
}
.google:hover {
    background: url(images/google2.png) no-repeat;
    height: 55px;
    cursor: pointer;
}
.social4:hover {
    background: url(images/social4_2.png) no-repeat;
    height: 55px;
    cursor: pointer;
}
.team_socials .tt {
    display: inline-block;
    width: 25%;
}
.team_socials {
    font-size: 0;
    margin-top: 2px;
}
.team-group {
    width: 1171px;
    margin: 0 auto;
    margin-bottom: 165px;
}
.new {
    overflow: hidden;
}
.news {
    width: 775px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 150px;
    font-size: 13px;
}
.new_date {
    float: left;
    margin-right: 40px;
    width: 10%;
}
.new_description {
    float: right;
    width: 84%;
    padding-bottom: 17px;
    border-bottom: 2px solid #edf2f6;
    padding-top: 10px;
}
.new_date_number {
    font-size: 67px;
    color: #00e1ff;
}
.new_description a {
    color: #00e1ff;
    display: block;
    text-align: right;
    text-decoration: none;
}
.new_description p {
    display: block;
    text-align: left;
}
.new_date_month {
    margin-top: 0;
}
#contacts {
    background-color: black;
    color: white;
    padding-top: 54px;
}
.contacts {
    font-size: 15px;
    width: 770px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 88px;
}
.contacts_name,
.contacts_email,
.contacts_message {
    width: 367px;
    height: 36px;
    font-size: 15px;
    color: white;
    border: 0;
    text-indent: 1.5em;
}
.contacts_name {
    background: url(images/path_contact1.png) no-repeat 50% 100%;
    float: left;
}
.contacts_email {
    background: url(images/path_contact1.png) no-repeat 50% 100%;
    float: right;
}
.contacts_message {
    background: url(images/path_contact2.png) no-repeat 50% 100%;
    width: 770px;
    margin-top: 80px;
}
.contacts_submit {
    margin-top: 34px;
    text-align: right;
    border: 1px solid #00e1ff;
    color: white;
    background-color: black;
    display: block;
    padding: 16px 33px;
    float: right;
}
input:-moz-placeholder {
    color: white;
}
input::-webkit-input-placeholder {
    color: white;
}
.address {
    height: 400px;
    color: #e9f7fa;
    background-color: #252726;
}
.rights {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}
.rights span {
    color: #00e1ff;
}
.rights img {
    position: relative;
    top: 44px;
    right: 7%;
    cursor: pointer;
}
.div_address {
    background: url(images/contact_area.png) no-repeat 50% 100%;
    height: 164px;
    width: 372px;
    margin: 0 auto;
    padding-top: 125px;
}
.div_address p {
    text-align: center;
    padding-bottom: 8px;
}
.portfolio_pictures_block {
    width: 100%;
    display: inline-block;
    max-width: 16.66%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.portfolio_pictures_block:before {
    content: '';
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    -webkit-transition-property: top, opacity;
    transition-property: top, opacity;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.portfolio_pictures_block img {
    display: block;
    width: 100%;
    height: 240px;
}
.portfolio_pictures_block .caption {
    width: 100%;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: -20px;
    z-index: 3;
    text-align: center;
}
.portfolio_pictures_block .caption span {
    opacity: 0;
}
.portfolio_pictures_block .caption .title {
    line-height: 1.5;
    font-weight: normal;
    font-size: 30px;
}
.portfolio_pictures_block:focus:before,
.portfolio_pictures_block:focus span,
.portfolio_pictures_block:hover:before,
.portfolio_pictures_block:hover span {
    opacity: 1;
}
.portfolio_pictures_block:focus:before,
.portfolio_pictures_block:hover:before {
    top: 50%;
}
.erroropacity {
    opacity: 1;
}
.errornoopacity {
    opacity: 0;
}
.error1 {
    position: relative;
    top: 103px;
    right: 26%;
    font-size: 16px;
    color: red;
}
.error2 {
    position: relative;
    top: 81px;
    left: 26%;
    font-size: 16px;
    color: red;
}
.error3 {
    position: relative;
    top: 190px;
    right: 2%;
    font-size: 16px;
    color: red;
}
.news_date_detail,
.news_text_detail {
    margin-top: 100px;
    font-size: 24px;
}