<div class="team-group">
   <div class="team">
      <div class="team_photo">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAQ8mepp20M58xM54bQiF3ejT40VEdiswS3k3xXsnQh8TzVbqjjw">
      </div>
      <div class="team_name">
         <p class="name">John Doe</p>
         <p class="position">Graphic Designer</p>
      </div>
      <div class="team_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. 
      </div>
      <div class="team_socials">
         <div class="facebook tt"></div>
         <div class="twitter tt"></div>
         <div class="google tt"></div>
         <div class="social4 tt"></div>
      </div>
   </div>
   <div class="team">
      <div class="team_photo">
         <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/000/228/094/24ca9ed.jpg">
      </div>
      <div class="team_name">
         <p class="name">John Doe</p>
         <p class="position">Graphic Designer</p>
      </div>
      <div class="team_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. 
      </div>
      <div class="team_socials">
         <div class="facebook tt"></div>
         <div class="twitter tt"></div>
         <div class="google tt"></div>
         <div class="social4 tt"></div>
      </div>
   </div>
   <div class="team">
      <div class="team_photo">
         <img src="https://icdn.lenta.ru/images/2016/03/24/19/20160324193936117/pic_215c8b61ea898e4ff82e07fa440ac76f.jpg">
      </div>
      <div class="team_name">
         <p class="name">John Doe</p>
         <p class="position">Graphic Designer</p>
      </div>
      <div class="team_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. 
      </div>
      <div class="team_socials">
         <div class="facebook tt"></div>
         <div class="twitter tt"></div>
         <div class="google tt"></div>
         <div class="social4 tt"></div>
      </div>
   </div>
   <div class="team">
      <div class="team_photo">
         <img src="https://s5o.ru/storage/simple/ru/edt/62/96/09/54/ruefa25f198ae.jpg">
      </div>
      <div class="team_name">
         <p class="name">John Doe</p>
         <p class="position">Graphic Designer</p>
      </div>
      <div class="team_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. 
      </div>
      <div class="team_socials">
         <div class="facebook tt"></div>
         <div class="twitter tt"></div>
         <div class="google tt"></div>
         <div class="social4 tt"></div>
      </div>
   </div>
</div>