<header>
   <div id="logo">
      <a href="index.html"><img  src="images/logo.jpg" alt="logo"></a>
   </div>
   <div id="menu">
      <nav class="menu">
         <ul>
            <li class="current-item"><a ng-click="scroll('top')" >Home</a></li>
            <li><a ng-click="scroll('services')" >Services</a></li>
            <li><a ng-click="scroll('portfolio')" >Portfolio</a></li>
            <li><a ng-click="scroll('whoweare')" >About</a></li>
            <li><a ng-click="scroll('news')" >News</a></li>
            <li><a ng-click="scroll('contacts')" >Contact</a></li>
         </ul>
      </nav>
   </div>
   <button class="hamburger">&#9776;</button>
   <button class="cross">&#735;</button>
   <div class="menu_burg">
      <ul>
         <li class="current-item"><a ng-click="scroll('top')" >Home</a></li>
         <li><a ng-click="scroll('services')" >Services</a></li>
         <li><a ng-click="scroll('portfolio')" >Portfolio</a></li>
         <li><a ng-click="scroll('whoweare')" >About</a></li>
         <li><a ng-click="scroll('news')" >News</a></li>
         <li><a ng-click="scroll('contacts')" >Contact</a></li>
      </ul>
   </div>
</header>
<div id=top class="photo">
   <div class="photo_text">WE MAKE WEBSITES</div>
   <a ng-click="scroll('portfolio')">START TOUR</a>	
</div>
<section id="services">
   <div class="fourColumn_block" >
      <div class="fourColumn">
         <img src="images/icon1.png" alt="WEB DESIGN" ng-click="question='1';"><br>
         <span>WEB DESIGN</span>
      </div>
      <div class="fourColumn">
         <img src="images/icon2.png" alt="GRAPHIC DESIGN" ng-click="question='2';"><br>
         <span>GRAPHIC DESIGN</span>
      </div>
      <div class="fourColumn">
         <img src="images/icon3.png" alt="PROGRAMMING" ng-click="question='3';"><br>
         <span>PROGRAMMING</span>
      </div>
      <div class="fourColumn">
         <img src="images/icon4.png" alt="PHOTOGRAPHY" ng-click="question='4';"><br>
         <span id="fourColumn_last_span">PHOTOGRAPHY</span>
      </div>
   </div>
   <div class="switch" ng-switch="question">
      {
      <div class="text1" ng-switch-when="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="text1" ng-switch-when="2"> Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="text1" ng-switch-when="3">Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. 
      </div>
      <div class="text1" ng-switch-when="4">nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis  cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      }
</section>
<section  id=grey>
<div class="selection" >
<div class="selection1" ng-click="select='0';" ng-class="{'selection_click' : select=='0', 'selection_noclick' : select=='1'}">
START TOUR
</div>
<div class="selection2" ng-click="select='1';" ng-class="{'selection_click' : select=='1', 'selection_noclick' : select=='0'}"> 
FOR ALL DEVICES
</div>
</div>
<div ng-switch="select">
<div class="device" ng-switch-when="1">
<div class="device_picture device_mod">
<img src="images/phones.png">
</div>
<div class="device_description device_mod">
<h2>Fully Responsive</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<a ng-click="scroll('contacts')">GET NOW</a>
</div>
</div>
<div class="device" ng-switch-when="0">
<div class="device_picture device_mod">
<img src="images/phones.png">
</div>
<div class="device_description device_mod">
<h2>Fully Responsive</h2>
<p>Lorem et, consectetur adipisicing elit, sed do eiusmod
tempor ierit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<a ng-click="scroll('contacts')">GET NOW</a>
</div>
</div>
</div>
</section>
<section id=portfolio>
<h2>Our Portfolio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
<nav class="portfolio">
<ul>
<li class="current-item"><a data-ng-click="filters.category = '' ">ALL</a></li>
<li><a data-ng-click="filters.category = 'web' ">WEB</a></li>
<li><a data-ng-click="filters.category = 'photo' ">PHOTOGRAPHY</a></li>
<li><a data-ng-click="filters.category = 'art' ">GRAPHIC DESIGN</a></li>
</ul>
</nav>
<div class="portfolio_pictures_block" data-ng-repeat="i in photos | filter : filters">
<img   class="portfolio_picture" src="{{i.src}}" alt="{{i.category}}">
<div class="caption">
<span class="title">{{i.category}}</span>
</div>
</div>
</section>
<section class=black>
<numbers></numbers>
</section>
<section id="whoweare">
<h2>We are the one</h2>
<p class=title>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
<about></about>
<h2 id="news">Check our news</h2>
<p class=title>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
<news ></news>
</section>
<section id="contacts">
<h2>Contact Us</h2>
<p class=title>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
<form-directive></form-directive>
</section>
</div>
<div class="address">
   <div class="div_address">
      <p>Awesome Address 432</p>
      <p>ourmail@sometype.com</p>
      <p>+321(0)32 123 343 492</p>
   </div>
</div>
<footer class="rights">
   <img ng-click="scroll('top')" src="images/tothetop.png">	
   <p> © 2014 - <span>Kat</span> All Right Reserved</p>
</footer>