<div class="fourColumn_block" >
   <div class="fourColumn fourColumn_mod">
      <img src="images/icon5.png" alt="WEB DESIGN"><br>
      <p>{{timer1}}</p>
      <p>COMPLETED PROJECTS</p>
   </div>
   <div class="fourColumn fourColumn_mod">
      <img src="images/icon6.png" alt="GRAPHIC DESIGN"><br>
      <p>{{timer2}}</p>
      <p>CLICK PRESED</p>
   </div>
   <div class="fourColumn fourColumn_mod">
      <img src="images/icon7.png" alt="PROGRAMMING"><br>
      <p>{{timer3}}</p>
      <p>MAILES SENTED&RECEIVED</p>
   </div>
   <div class="fourColumn fourColumn_mod">
      <img src="images/icon8.png" alt="PHOTOGRAPHY"><br>
      <p>{{timer4}}</p>
      <p>JOKES TOLDS</p>
   </div>
</div>